<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <img class="logo" src="../../assets/logo-w.png" alt="">

    <img slot="start" class="info" src="../../assets/info.png" alt="" (click)="data.presentAlert()">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>
    نحن ندعمك
  </h2>
  <p>

    مرحبا بك، سعداء باهتمامك وتواصلك معنا عبرهذا التطبيق. نشعر بك وندعمك أينما كنت
    يمكنك اختيار أحد النطاقات اآلتية وفقا لما تشعر به وترغب في التحدث حوله:

  </p>
  <b>
    هل أنت مصاب بفيروس كوفيد 19؟
  </b>

  <ion-button routerLink="/web-content/{{data.config.infected}}" expand="block" shape="round">
    نعم
  </ion-button>

  <ion-button routerLink="/web-content/{{data.config.protect}}" expand="block" shape="round">
    لا
  </ion-button>
  <ion-button routerLink="/check2" expand="block" shape="round">
    لا اعرف
  </ion-button>


  <b>
    هل أنت ملزم حاليا بالعزل المنزلي وتريد معرفة المزيد حوله؟
  </b>

  <ion-button routerLink="/web-content/{{data.config.infected}}" expand="block" shape="round">
    نعم
  </ion-button>

  <ion-button (click)="alertFood()" expand="block" shape="round">
    لا
  </ion-button>



  <b>
    هل تشعر بالملل وتريد بعض وسائل الترفيه؟
  </b>

  <ion-button routerLink="/quizs" expand="block" shape="round">
    نعم
  </ion-button>


  <b>
    للتخلص من التوتر ننصحط بزيارة قسم )نتضامن معك( ستجد كل ما تحتاج
  </b>

  <ion-button routerLink="/web-content/{{data.config.care}}" expand="block" shape="round">
    نعم
  </ion-button>


  <b>
    ترغب في التحدث إلي أحد القادة الدينيين
  </b>

  <ion-button (click)="chooseReg()"  expand="block" shape="round">
    نعم
  </ion-button>


  <p>
    نتمني لك الصحة الجيدة .. ابق في منزلك، كن في امان
  </p>


</ion-content>