<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
   <img class="logo" src="../../assets/logo-w.png" alt="">

    <img slot="start" class="info" src="../../assets/info.png" alt="" (click)="data.presentAlert()">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>
    تتبع حالتك الصحية؟
  </h2>
  <p>
    تتبع نفسك كل يوم من خلال الإجابة على هذه الأسئلة لتحديد المخاطر الخاصة بك. </p>
  <b>
    هل تعاني من أحد تلك الأعراض أو بعض منها: سعال أو حمى أو قشعريرة أو ضيق في التنفس أو صعوبة في التنفس أو آلام في العضلات أو الجسم أو التهاب في الحلق أو فقدان جديد للطعم أو الشم أو الإسهال أو الصداع أو التعب الجديد أو الغثيان أو القيء أو الاحتقان أو سيلان الأنف؟
  </b>

  <ion-button routerLink="/web-content/{{data.config.infected}}" expand="block" shape="round">
    نعم
  </ion-button>

  <ion-button routerLink="/check4" expand="block" shape="round">
    لا
  </ion-button>


</ion-content>