.next{
    display: block;
    margin: 20px auto;
    width: 50%;
}

.correct {
    --ion-color-base: var(--ion-color-success, #2dd36f) !important;
    --ion-color-base-rgb: var(--ion-color-success-rgb, 45, 211, 111) !important;
    --ion-color-contrast: var(--ion-color-success-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-success-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-success-shade, #28ba62) !important;
    --ion-color-tint: var(--ion-color-success-tint, #42d77d) !important;
}