<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="end">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <img class="logo" src="../../assets/logo-w.png" alt="">

          </ion-list-header>
          <!-- <ion-note>hi@ionicframework.com</ion-note> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" [routerLink]="[p.url]" detail="false"
              [class.selected]="selectedIndex == i">

              <img [src]="p.img" alt="">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content">

      <ion-row class="test">
      
        <ion-col size="6"  routerLink="/web-content/{{data.config.contact}}">
          <ion-icon name="call"></ion-icon>
        </ion-col>
        <ion-col size="6" routerLink="/home">
          <ion-icon name="home"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-router-outlet>
    
  </ion-split-pane>

  
</ion-app>